<div class="shadow-3 border-round-md" style="width: 80vw; margin: 1rem auto">
  <div class="p-panel-header flex justify-content-between p-3 border-bottom-3 border-gray-200 bg-gray-200 ">
    <p class="text-xl font-semibold">Cursos</p>
    <button pButton class="p-button-primary text-xl" label="Novo Curso" [routerLink]="'novo'"></button>
  </div>
<!--todo Usa-se esse método pra requicisões que precisam de tempo para carrgamento na tela
      e para evitar duas chamadas usamos o "as" para instanciar uma variavél que será usada no escopo do HTML-->
  <div *ngIf="cursos$ | async as cursos else loading">
    <p-table styleClass="border-rounded-lg" [value]="cursos" [tableStyle]="{ 'min-width': '50rem' }" class="flipup animation-duration-1000">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-curso>
        <tr>
          <td>{{curso.id}}</td>
          <td>{{curso.nome}}</td>
          <td style="text-align: right">
            <button pButton label="Editar" class="p-button-secondary" [routerLink]="['editar',curso.id]"></button>
            <button pButton label="Remover" class="p-button-danger" (click)="showConfirm('Confirmar exclusão','Deseja continuar o processo?', 'pi pi-exclamation-triangle text-blue-500', curso.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #loading>
    <div class="p-3 w-full flex justify-content-center" *ngIf="error$ | async; else loadingNoError">
      <p-messages styleClass="w-full" class="w-full" [(value)]="messages" [enableService]="false"></p-messages>
    </div>
    <ng-template #loadingNoError>
      <div class="w-full flex flex-row justify-content-center align-items-center p-4">
        <span class="pr-6">Carregando</span>
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="6" fill="var(--surface-ground)" animationDuration="3s"></p-progressSpinner>
      </div>
    </ng-template>
  </ng-template>
</div>
