<div style="margin-top: 20px">
  <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onProgress)="progressValue = $event.progress" (onUpload)="onUpload($event)" [multiple]="true" [maxFileSize]="100000000">
    <ng-template pTemplate="content">
      <div *ngIf="progressValue != 0">
        <p-progressBar [value]="progressValue" ></p-progressBar>
      </div>
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
  <div class="my-3">
    <p-button label="Download" iconPos="right" icon="pi pi-file-pdf" styleClass="p-button-secondary" (click)="onDownloadPdf()"></p-button>
    <p-button label="Download" iconPos="right" icon="pi pi-file-excel" styleClass="p-button-warning" (click)="onDownloadExcel()"></p-button>
  </div>
</div>
