<div class="card" *ngIf="isLoading$ | async">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>
<div *ngIf="aluno">
  <div class="pb-4">
    Detalhe Do Aluno
  </div>
  <div class="flex flex-column">
    <span>ID: {{aluno.id}}</span>
    <span>Nome: {{aluno.nome}}</span>
    <span>Idade: {{aluno.idade}}</span>
    <span>Altura: {{aluno.altura}}</span>
  </div>
  <div class="mt-2">
    <button pButton type="button" class="p-button-secondary" label="Editar" (click)="editarAluno()"></button>
  </div>
</div>
