<div *ngIf="form" class="p-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid" >
      <app-input-field label="Nome" class="col-12 md:col-6 pt-4 p-1" formControlName="name" inputName="name" type="text" [control]="form.get('name')" [classErro]="getClass(form.get('name'))"></app-input-field>
      <app-input-field label="E-mail" class="col-12 md:col-6 pt-4 p-1" formControlName="email" inputName="email" type="email" [control]="form.get('email')" [classErro]="getClass(form.get('email'))"></app-input-field>
      <div class="col-12 md:col-8 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="email">E-mail</label>
          <input pInputText id="email" formControlName="email" [class.ng-invalid]="getClass(form.controls['email'])"/>
          <div class="px-1">
            <app-form-error [control]="form.get('email')" title="E-mail"></app-form-error>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-8 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="confirmarEmail">Confirmar e-mail</label>
          <input pInputText id="confirmarEmail" formControlName="confirmarEmail" [class.ng-invalid]="getClass(form.controls['confirmarEmail'])"/>
          <div class="px-1">
            <app-form-error [control]="form.get('confirmarEmail')" title="Confirmar e-mail"></app-form-error>
          </div>
        </div>
      </div>
      <div class="grid px-2 pt-2" formGroupName="endereco">
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="cep">CEP</label>
            <input pInputText id="cep" formControlName="cep" [class.ng-invalid]="getClass(form.get('endereco.cep'))"/>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.cep')" title="CEP"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="rua">Rua</label>
            <input pInputText id="rua" formControlName="rua" [class.ng-invalid]="getClass(form.get('endereco.rua'))"/>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.rua')" title="Rua"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="numero">Número</label>
            <input pInputText id="numero" formControlName="numero" [class.ng-invalid]="getClass(form.get('endereco.numero'))"/>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.numero')" title="Número"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-8 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="bairro">Bairro</label>
            <input pInputText id="bairro" formControlName="bairro" [class.ng-invalid]="getClass(form.get('endereco.bairro'))"/>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.bairro')" title="Bairro"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="complemento">Complemento</label>
            <input pInputText id="complemento" formControlName="complemento" [class.ng-invalid]="getClass(form.get('endereco.complemento'))"/>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.complemento')" title="Complemento"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="cd">Cidade</label>
            <p-autoComplete [showClear]="true" [class.ng-invalid]="getClass(form.get('endereco.cidade'))" formControlName="cidade" id="cd" [delay]="3000" [dropdown]="true" [suggestions]="filtrados" (completeMethod)="filtrarEstados($event)" optionLabel="sigla">
              <ng-template let-cidade pTemplate="item">
                <div>
                  {{cidade}}
                </div>
              </ng-template>
            </p-autoComplete>
<!--            <input pInputText id="cidade" formControlName="cidade" [class.ng-invalid]="getClass(form.get('endereco.cidade'))"/>-->
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.cidade')" title="Cidade"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="uf">UF</label>
            <p-autoComplete [showClear]="true" [class.ng-invalid]="getClass(form.get('endereco.uf'))" formControlName="uf" id="uf" [delay]="3000" (onSelect)="getCidadePorUf($event)" [dropdown]="true" [suggestions]="filtrados" (completeMethod)="filtrarEstados($event)" optionLabel="sigla">
              <ng-template let-estado pTemplate="item">
                <div>
                  {{estado}}
                </div>
              </ng-template>
            </p-autoComplete>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.uf')" title="UF"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="uf">UF Select</label>
            <p-multiSelect [options]="estados" [class.ng-invalid]="getClass(form.get('endereco.ufSelectBox'))" formControlName="ufSelectBox" class="w-full" styleClass="w-full" optionLabel="nome" optionValue="sigla"></p-multiSelect>
            <div class="px-1">
              <app-form-error [control]="form.get('endereco.ufSelectBox')" title="UF"></app-form-error>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 p-1">
        <span>News Letter</span>
        <div class="flex flex-row gap-1 height-div">
          <div *ngFor="let lett of letter" class="field-checkbox">
            <label [for]="lett.name" class="mr-2 ml-0">{{ lett.name }}</label>
            <p-radioButton [inputId]="lett.name" [value]="lett.key" [class.ng-invalid]="getClass(form.controls['newsLetter'])" formControlName="newsLetter"></p-radioButton>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 p-1">
        <label for="fr">Framework</label>
        <div id="fr" class="flex flex-column gap-1 height-div" formArrayName="framework">
          <div class="flex flex-row pt-4">
            <div *ngFor="let value of frameworkFormArray.controls; let i = index" class="field-checkbox">
              <label class="mr-2 m-0">{{frame[i].name}}</label>
              <input class="cursor-pointer" [formControlName]="i" type="checkbox" [class.ng-invalid]="getClass(value)">
            </div>
          </div>
          <div class="px-1">
            <app-form-error [control]="form.get('framework')" title="Framework"></app-form-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="py-2">
        <button pButton class="p-button-secondary" type="submit" label="Salvar"></button>
      </div>
      <div class="py-2 pl-2">
        <button pButton class="p-button-danger" (click)="resetForm()" type="button" label="Cancelar"></button>
      </div>
    </div>
    <div>
      <app-form-test [form]="form"></app-form-test>
    </div>
  </form>
</div>
