<div *ngIf="form" class="p-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="grid" >
      <div class="col-12 md:col-6 pt-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="nome">Nome</label>
          <input pInputText id="nome" formControlName="name" [class.ng-invalid]="getClass(form.controls['name'])"/>
          <div class="px-1">
            <app-form-error [form]="form.controls['name']" title="Nome" ></app-form-error>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-8 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="email">E-mail</label>
          <input pInputText id="email" formControlName="email" [class.ng-invalid]="getClass(form.controls['email'])"/>
          <div class="px-1">
            <app-form-error [form]="form.controls['email']" title="E-mail"></app-form-error>
          </div>
        </div>
      </div>
      <div class="grid px-2 pt-2" formGroupName="endereco">
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="cep">CEP</label>
            <input pInputText id="cep" formControlName="cep" (blur)="getApiViaCep(form.get('endereco.cep')?.value)" [class.ng-invalid]="getClass(form.get('endereco.cep'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.cep')" title="CEP"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="rua">Rua</label>
            <input pInputText id="rua" formControlName="rua" [class.ng-invalid]="getClass(form.get('endereco.rua'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.rua')" title="Rua"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="numero">Número</label>
            <input pInputText id="numero" formControlName="numero" [class.ng-invalid]="getClass(form.get('endereco.numero'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.numero')" title="Número"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-8 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="bairro">Bairro</label>
            <input pInputText id="bairro" formControlName="bairro" [class.ng-invalid]="getClass(form.get('endereco.bairro'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.bairro')" title="Bairro"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="complemento">Complemento</label>
            <input pInputText id="complemento" formControlName="complemento" [class.ng-invalid]="getClass(form.get('endereco.complemento'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.complemento')" title="Complemento"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="cidade">Cidade</label>
            <input pInputText id="cidade" formControlName="cidade" [class.ng-invalid]="getClass(form.get('endereco.cidade'))"/>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.cidade')" title="Cidade"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="uf">UF</label>
            <p-autoComplete [showClear]="true" [class.ng-invalid]="getClass(form.get('endereco.uf'))" formControlName="uf" id="uf" [delay]="3000" [dropdown]="true" [suggestions]="filtrados" (completeMethod)="filtrarEstados($event)" optionLabel="sigla">
              <ng-template let-estado pTemplate="item">
                <div>
                  {{estado}}
                </div>
              </ng-template>
            </p-autoComplete>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.uf')" title="UF"></app-form-error>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4 p-1">
          <div class="flex flex-column gap-1 height-div">
            <label For="uf">UF Select</label>
            <p-multiSelect [options]="estados" [class.ng-invalid]="getClass(form.get('endereco.ufSelectBox'))" formControlName="ufSelectBox" class="w-full" styleClass="w-full" optionLabel="nome" optionValue="sigla"></p-multiSelect>
            <div class="px-1">
              <app-form-error [form]="form.get('endereco.ufSelectBox')" title="UF"></app-form-error>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 p-1">
        <span>News Letter</span>
        <div class="flex flex-row gap-1 height-div">
          <div *ngFor="let lett of letter" class="field-checkbox">
            <label [for]="lett.name" class="mx-2">{{ lett.name }}</label>
            <p-radioButton [inputId]="lett.name" [value]="lett.key" [class.ng-invalid]="getClass(form.controls['newsLetter'])" formControlName="newsLetter"></p-radioButton>
          </div>
          <div class="px-1">
            <app-form-error [form]="form.get('newsLetter')" title="News Letter"></app-form-error>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 p-1">
        <label for="fr">Framework</label>
        <div id="fr" class="flex flex-row gap-1 height-div" formArrayName="framework">
          <div *ngFor="let value of framework.controls; let i = index" class="field-checkbox" >
            <p>{{frame[i]}}</p>
            <label class="mx-2"></label>
            <p-checkbox [value]="value" [formControlName]="i"  [class.ng-invalid]="getClass(value)"></p-checkbox>
          </div>
          <div class="px-1">
            <app-form-error [form]="form.get('framework')" title="Framework"></app-form-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="py-2">
        <button pButton class="p-button-secondary" type="submit" label="Salvar"></button>
      </div>
      <div class="py-2 pl-2">
        <button pButton class="p-button-danger" (click)="resetForm()" type="button" label="Cancelar"></button>
      </div>
    </div>
    <div>
      <app-form-test [form]="form"></app-form-test>
    </div>
  </form>
</div>
