<div style="width: 80vw; margin: auto" class="shadow-2 border-round">
  <p-table #dt
           [rows]="10"
           [paginator]="true"
           [tableStyle]="{ 'min-width': '75rem' }"
           [rowHover]="true" [value]="result$ | async"
           dataKey="id"
           currentPageReportTemplate="{first} à {last} de {totalRecords} resultados"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Resltados</h5>
        <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [formControl]="queryField" placeholder="Search..." />
      </span>
        <p-button label="Search" icon="pi pi-search" (click)="onSearch()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="version">Version <p-sortIcon field="version"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
      <tr>
        <td>{{ result.name }}</td>
        <td>{{ result.version }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
